{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.songs' | trans | capitalize }}{% endblock %}

{% block content %}
    {% if pagination is defined and pagination.items | length %}
        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table id="songs-table" class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'song.title' | trans, 'song.title') }}</th>
                    <th>{{ 'song.artist' | trans }}</th>
                    <th>{{ 'song.play' | trans }}</th>
                    <th>{{ 'actions.label' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for song in pagination.items %}
                <tr>
                    <td>{{ song.title }}</td>
                    <td>
                        <a href="{{ path('songs', { 'filters_artist_id': song.artist.id }) }}">{{ song.artist.name }}</a>
                    </td>
                    <td>
                        <audio controls>
                            <source src="{{ asset('audio/songs/' ~ song.url) }}">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" href="{{ path('song', { 'id': song.id }) }}"><div>{{ 'actions.show' | trans }}</div></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-info" href="{{ path('admin_panel_song_edit', { 'id': song.id }) }}"><div>{{ 'actions.edit' | trans }}</div></a>
                        <a class="btn btn-sm btn-outline-danger" href="{{ path('admin_panel_song_delete', { 'id': song.id }) }}"><div>{{ 'actions.delete' | trans }}</div></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
