{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.songs' | trans | capitalize }}{% endblock %}

{% block content %}
    <table id="songs-table">
        <thead>
            <tr>
                <th>{{ 'song.title' | trans }}</th>
                <th>{{ 'song.artist' | trans }}</th>
                <th>{{ 'song.play' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.title }}</td>
                <td>{{ song.getArtist().getName() }}</td>
                <td>
                    <audio controls>
                        <source src="{{ asset('audio/songs/' ~ song.getUrl()) }}">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
