{% extends 'base.html.twig' %}

{% block title %} {{ song.title }} {% endblock %}

{% block content %}
    <audio controls>
        <source src="{{ asset('audio/songs/' ~ song.url) }}">
        Your browser does not support the audio element.
    </audio>

    {% if is_granted('ROLE_USER') %}
        {{ form(commentForm) }}
    {% endif %}

    <div id="song_comments">
        {% for comment in song.songComments %}
            <div class="song_comment">
                <p>{{ comment.user.username }}</p>
                <p>{{ comment.content }}</p>
                <p>{{ comment.commentedOn | format_datetime('short', 'short') }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}