{% extends 'base.html.twig' %}

{% block title %} {{ song.title }} {% endblock %}

{% block content %}
    <h1>{{ song.title }}</h1>
    <h3>{{ song.artist.name }}</h3>

    <audio controls>
        <source src="{{ asset('audio/songs/' ~ song.url) }}">
        Your browser does not support the audio element.
    </audio>

    {% if is_granted('ROLE_USER') %}
        {{ form(commentForm) }}
    {% endif %}

    <div id="song_comments">
        {% for comment in song.songComments %}
            <div class="song_comment comment">
                <div>
                    <p><a href="{{ path('user', {'id': comment.user.id}) }}">{{ comment.user.username }}</a></p>
                    <p>{{ comment.commentedOn | format_datetime('short', 'short') }}</p>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}