{% extends 'base.html.twig' %}

{% block title %} {{ artist.name }} {% endblock %}

{% block content %}
    <h1>{{ artist.name }}</h1>

    {% if is_granted('ROLE_USER') %}
        {{ form(commentForm) }}
    {% endif %}

    <div id="artist_comments">
        {% for comment in artist.artistComments %}
            <div class="artist_comment comment">
                <div>
                    <p><a href="{{ path('user', {'id': comment.user.id}) }}">{{ comment.user.username }}</a></p>
                    <p>{{ comment.commentedOn | format_datetime('short', 'short') }}</p>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}