{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.artists' | trans }}{% endblock %}

{% block content %}
    {% if pagination is defined and pagination.items | length %}
        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table id="artists-table" class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'artist.name' | trans, 'artist.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'artist.country' | trans, 'country.name') }}</th>
                <th>{{ 'artist.tags' | trans }}</th>
                <th>{{ 'actions.label' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in pagination.items %}
                <tr>
                    <td>{{ artist.name }}</td>
                    <td><img width="150px" src="{{ asset('gfx/countries/' ~ artist.country.iso | lower ~ '.png') }}" alt="{{ artist.country.name }}"></td>
                    <td>
                        {% if artist.tags is defined and artist.tags | length %}
                            {% for tag in artist.tags %}
                                <a href="{{ path('artists', { 'filters_tag_id': tag.id}) }}">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" href="{{ path('artist', { 'id': artist.id }) }}"><div>{{ 'actions.show' | trans }}</div></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-info" href="{{ path('admin_panel_artist_edit', { 'id': artist.id }) }}"><div>{{ 'actions.edit' | trans }}</div></a>
                        <a class="btn btn-sm btn-outline-danger" href="{{ path('admin_panel_artist_delete', { 'id': artist.id }) }}"><div>{{ 'actions.delete' | trans}}</div></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
