{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('artist') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('artist') }}
{% endblock %}

{% block title %}Hello ArtistController!{% endblock %}

{% block content %}
    {% if pagination is defined and pagination.items | length %}
        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table id="artists-table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'artist.name' | trans, 'artist.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'artist.country' | trans, 'country.name') }}</th>
                <th>{{ 'artist.tags' | trans }}</th>
                <th>{{ 'artist.more' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'artist.edit' }}</th>
                    <th>{{ 'artist.delete' }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for artist in pagination.items %}
                <tr>
                    <td>{{ artist.name }}</td>
                    <td><img src="{{ asset('build/gfx/countries/' ~ artist.country.iso | lower ~ '.png') }}" alt="{{ artist.country.iso | lower }}"></td>
                    <td>
                        {% if artist.tags is defined and artist.tags | length %}
                            {% for tag in artist.tags %}
                                <a href="{{ path('artists', { 'filters_tag_id': tag.id}) }}">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('artist', { 'id': artist.id }) }}">...</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('admin_panel_artist_edit', { 'id': artist.id }) }}">E</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_panel_artist_delete', { 'id': artist.id }) }}">X</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
