{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('album') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('album') }}
{% endblock %}

{% block title %}{{ 'pages.albums' | trans | capitalize }}{% endblock %}

{% block content %}
    <table id="albums-table">
        <thead>
        <tr>
            <th>{{ 'album.title' | trans }}</th>
            <th>{{ 'album.artist' | trans }}</th>
            <th>{{ 'album.cover' | trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>X</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for album in pagination.items %}
            <tr>
                <td>{{ album.name }}</td>
                <td>{{ album.getArtist().getName() }}</td>
                <td><img src="{{ asset('gfx/covers/' ~ album.getLogoUrl()) }}" alt="{{ album.name }}"></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('album_delete', { 'id': album.id }) }}">X</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
