{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('album') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('album') }}
{% endblock %}

{% block title %}{{ 'pages.albums' | trans | capitalize }}{% endblock %}

{% block content %}
    {% if pagination is defined and pagination.items | length %}
        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table id="albums-table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'album.title' | trans, 'album.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'album.artist' | trans, 'artist.name') }}</th>
                <th>{{ 'album.cover' | trans }}</th>
                <th>{{ 'album.more' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'album.edit' | trans }}</th>
                    <th>{{ 'album.delete' | trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for album in pagination.items %}
                <tr>
                    <td>{{ album.name }}</td>
                    <td>
                        <a href="{{ path('albums', {'filters_artist_id': album.artist.id }) }}">{{ album.artist.name }}</a>
                    </td>
                    <td><img src="{{ asset('gfx/covers/' ~ album.logoUrl) }}" alt="{{ album.name }}"></td>
                    <td>
                        <a href="{{ path('album', { 'id': album.id }) }}">...</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('admin_panel_album_edit', { 'id': album.id }) }}">E</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_panel_album_delete', { 'id': album.id }) }}">X</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
