{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.albums' | trans | capitalize }}{% endblock %}

{% block content %}
    {% if pagination is defined and pagination.items | length %}
        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table id="albums-table" class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'album.title' | trans, 'album.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'album.artist' | trans, 'artist.name') }}</th>
                <th>{{ 'album.cover' | trans }}</th>
                <th>{{ 'actions.label' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for album in pagination.items %}
                <tr>
                    <td>{{ album.name }}</td>
                    <td>
                        <a href="{{ path('albums', {'filters_artist_id': album.artist.id }) }}">{{ album.artist.name }}</a>
                    </td>
                    <td><img height="100px" src="{{ asset('gfx/covers/' ~ album.logoUrl) }}" alt="{{ album.name }}"></td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" href="{{ path('album', { 'id': album.id }) }}"><div>{{ 'actions.show' | trans }}</div></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-info" href="{{ path('admin_panel_album_edit', { 'id': album.id }) }}"><div>{{ 'actions.edit' | trans }}</div></a>
                        <a class="btn btn-sm btn-outline-danger" href="{{ path('admin_panel_album_delete', { 'id': album.id }) }}"><div>{{ 'actions.delete' | trans }}</div></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination_navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
