{% extends 'base.html.twig' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
    <div>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        {% if not user.country is null %}
            <p><img src="{{ asset('build/gfx/countries/' ~ user.country.iso | lower ~ '.png') }}" alt="{{ user.country.iso | lower }}"></p>
        {% else %}
            <p>B/D</p>
        {% endif %}

        {% if app.user and (app.user.id == user.id or is_granted('ROLE_ADMIN')) %}
            <div><a href="{{ path('user_edit', {'id': user.id}) }}">{{ 'actions.edit' | trans }}</a></div>
        {% endif %}
    </div>
{% endblock %}
