{% extends 'base.html.twig' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
    <div>
        <p>{{ 'user.username' | trans | capitalize }}: {{ user.username }}</p>
        <p>{{ 'user.email' | trans | capitalize }}: {{ user.email }}</p>
        {% if not user.country is null %}
            <p>{{ 'user.country' | trans | capitalize }}:
                <img style="width: 150px" src="{{ asset('gfx/countries/' ~ user.country.iso | lower ~ '.png') }}" alt="{{ user.country.name | lower }}">
            </p>
        {% else %}
            <p>{{ 'user.country' | trans | capitalize }}: {{ 'pages.user_page.country_not_provided' | trans }}</p>
        {% endif %}

        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-sm btn-outline-info" style="color: white; background-color: var(--main-color); border-color: var(--main-color)" href="{{ path('admin_panel_user_edit', {'id': user.id}) }}">{{ 'actions.edit' | trans }}</a>
            {% elseif app.user.id == user.id %}
                <a class="btn btn-sm btn-outline-info" style="color: white;background-color: var(--main-color); border-color: var(--main-color)" href="{{ path('user_edit', {'id': user.id}) }}">{{ 'actions.edit' | trans }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
